.formContainer{
  float: left;
  padding: 50px;
}

::-webkit-input-placeholder{
  color: #BABCC1;
  font-size: 10pt;
  font-family: 'Exo', sans-serif;
}

input:focus{
  font-size: 10pt;
  color: #494A4C;
}

.formContainer h3{
  font-weight: 700;
  color: #247BA0;
}

.formContainer p{
  margin-bottom: 30px;
  color: #949DAA;
}

.formContainer div{
  margin-bottom: 10px;
}

.formContainer label{
  color: #247BA0;
  display: block;
  margin-bottom: 0px;
  padding-top: 10px;
}

.formContainer input{
  border: 0;
  outline: 0;
  border-bottom: 1px solid #247BA0;
  width: 250px;
  font-family: 'Exo', sans-serif;
}

.formContainer button{
  margin-top: 25px;
  border: none;
  padding: 7px 15px;
  font-weight: 700;
  font-family: 'Exo', sans-serif;
  color: white;
}

.buttonOne{
  border-radius: 10px 0px 0px 10px;
  background-color: #247BA0;
  transition: background-color 0.2s ease;
}

.buttonTwo{
  border-radius: 0px 10px 10px 0px;
  background-color: #949DAA;
  transition: background-color 0.2s ease;
}

.formContainer button:hover{
  background-color: #70C1B3;
}

.link{
  color: white;
}

.link:hover{
  text-decoration: none;
  color: white;
}
