.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.header{
  padding: 40px 0px;
  text-overflow: clip;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  background-color: #FF6347;
  height: 100vh;
  width: 20%;
  float: left;
  width: 20%;
}

.nav ul{
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  width: 100%;
}

.nav li{
  text-decoration: none;
  list-style: none;
  background-color: none;
  transition: background-color 0.3s ease;
  padding: 3px 0px;
}

.nav li:hover{
  background-color: #FF8E72;
}

.nav a{
  color: white;
  font-size: 4.2vh;
  padding-left: 20px;
}

.nav a:hover{
  text-decoration: none;
  color: white;
}

.nav ol{
  position: absolute;
  padding-left: 0;
  bottom: 0;
  left: 0;
  font-weight: 500;
  width: 20%;

  }
.auth li:hover{
  background-color: #FF8E72 !important;
}
.auth li a:hover{
  color: white;
}
.auth li a{
  font-size: 3.8vh;
}
