/*.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}*/
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.header{
  padding: 40px 0px;
  text-overflow: clip;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  background-color: #247BA0;
  height: 100vh;
  width: 20%;
  float: left;

}

.nav ul{
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  width: 100%;
}

.nav li{
  text-decoration: none;
  list-style: none;
  background-color: none;
  transition: background-color 0.3s ease;
  padding: 3px 0px;
}

.nav li:hover{
  background-color: #70C1B3;
}

.nav a{
  color: white;
  font-size: 1.7em;
  padding-left: 20px;
}

.nav a:hover{
  text-decoration: none;
  color: white;
}

.auth{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.9em;
    font-weight: 500;
  }
