html{
  min-height: 100%;
  position: relative;
}


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.header{
  padding: 40px 0px;
  text-overflow: clip;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  background-color: #247BA0;
  height: 100vh;
  float: left;
  width: 230px;
}

.nav ul{
  display: inline-block;
  list-style: none;
  padding-left: 0px;
  width: 100%;
}

.nav li{
  text-decoration: none;
  list-style: none;
  background-color: none;
  transition: background-color 0.3s ease;
  padding: 3px 0px;
}

.nav li:hover{
  background-color: #70C1B3;
}

.nav a{
  color: white;
  font-size: 24px;
  padding-left: 20px;
}

.nav a:hover{
  text-decoration: none;
  color: white;
}

.nav ol{
    position: absolute;
    padding-left: 0;
    bottom: 0;
    left: 0;
    font-size: 24px !important;
    font-weight: 500;

  }
.auth li:hover{
  background-color: #247BA0 !important;
}
.auth li a:hover{
  color: orange;
}
.auth li a{
  font-size: 3.8vh;
}
